.card {
  width: 34rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 2rem;
}

.card__qr img {
  height: 30rem;
  border-radius: 1.2rem;
}

.card__text {
  padding: 2rem 1.4rem;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #1f3251
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #7b879d;
}