/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 768px (Smaller tablets) */
/**************************/

@media (max-width: 25em) {

  .order__card {
    max-width: 32rem;
  }

  .card-content {
    row-gap: 2rem;
  }

  .card-content-header {
    font-size: 2rem;
  }

  .card-description {
    font-size: 1.2rem;
  }

  .plan {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .plan-img {
    height: 4rem;
  }

  .btn {
    /* font-size: 1.4rem; */
    font-weight: 700;
    padding: 1.4rem;
  }

  .btn-cancel {
    margin-top: 0.6rem;
  }

}