.order__card {
  background-color: #fff;
  max-width: 44rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.hero-img {
  max-width: 100%;
}

.card-content {
  padding: 3rem;
  text-align: center;
  row-gap: 4rem;
}

.card-content-header {
  font-size: 2.4rem;
  font-weight: 900;
  color: #1f2f56
}

.card-description {
  line-height: 2rem;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 700;
  color: #7280a7;
}

.plan {
  font-size: 1.6rem;
  background-color: #f5f7ff;
  padding: 2rem;
  border-radius: 1.2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.plan-img {
  max-width: 100%;
  height: 5rem;
}

.plan-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
}

.plan-type {
  color: #1f2f56;
  font-weight: 900;
}

.plan-price {
  line-height: 2rem;
  font-weight: 500;
  color: #7280a7;
}

.plan-change {
  margin-left: auto;
  font-weight: 700;
}

.btn {
  padding: 1.8rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
}

.btn-confirm {
  color: #fff;
  background-color: #3829e0;
}

.btn-cancel {
  background-color: white;
  color: #7280a7;
  font-weight: 700;
  margin-top: 1.2rem;
}

.btn-confirm:hover {
  background-color: #3829e0a2;
}

.btn-cancel:hover {
  color: #1f2f56;
}

.plan-change {
  color: #3829e0;
  font-weight: 900;
}

.plan-change:link:hover,
.plan-change:visited:hover {
  text-decoration: none;
  color: #3829e0a2;
}